<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<title>Solicitud de vacante</title>
		<!-- use the font -->
	    <style>
	        body {
	            font-family: 'Roboto', sans-serif;
	            font-size: 12px;
	        }
	    </style>
		
	</head>
	<body style="margin: 0; padding: 0;">
	<table style="border: 0; width: 600px; padding: 0; border-collapse: collapse;">
			<thead></thead>
			<tbody>
				<tr style="margin-top: 10px; margin-bottom: 30px;">
					<td>
						<span><b>Solicitud de vacante</b></span>
					</td>
				</tr>
				<tr style="margin-top: 10px;">
					<td style="background-color: #eaeaea; padding: 10px 30px 20px;">
						<p><b><span style="text-decoration: underline;">Información del solicitante</span></b></p>
						<ul>
							<li>
								<span><b>Nombre: </b><span>{{name}}</span></span>
							</li>							
							<li>
								<span><b>E-mail: </b><span>{{email}}</span></span>
							</li>
							<li>
								<span><b>Teléfono/WhatsApp: </b><span>{{phone}}</span></span>
							</li>
							<li>
								<span><b>Alcaldía o Municipio: </b><span>{{address}}</span></span>
							</li>							
							<li>
								<span><b>Área de interés: </b><span>{{area}}</span></span>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
			<tfoot style="font-size: 10px;"></tfoot>
		</table>
	</body>
</html>